@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  line-height: 1.4;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.row {
  /* display: flex => flex container */
  display: flex;
  justify-content: space-between;

  /* can't use yet */
  /* gap: 100px; */
}

.col {
  /* these are now flex items */
  width: 100%;
}

.col + .col {
  margin-left: 30px;
}

.hero {
  padding: 100px 0;
  background-color: #c8e3f4;
  color: #3d3c42;
}

.hero__text {
  width: 62%;
}

.hero__img {
  width: 32%;
  align-self: flex-start;
}

.hero p {
  margin-bottom: 3em;
}

.second-section {
  padding: 2em 0;
  gap: 3em;
}
.description {
  width: 60%;
}
.levels {
  width: 35%;
}
.description h2 {
  color: #6e85b7;
}
.description p {
  margin-top: 2em;
  color: #3d3c42;
  font-size: 1.25rem;
}
.card {
  padding: 1em 2em;
  text-align: center;
  background-color: #c8e3f4;
}
.card h3 {
  color: #6e85b7;
}
.card p {
  margin-top: 1em;
  font-size: 1.25rem;
  color: #3d3c42;
}
.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
  background-color: #6e85b7;
  padding: 0.75em 2em;
  border-radius: 100px;
}

.btn:hover,
.btn:focus {
  opacity: 0.75;
}

/* media query */
